{% extends '../base.html' %}

{% load static %}

{% block title %}
    Ошибка сервера
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row align-items-center mt-5">
            <div class="col-lg-4 col-sm-12">
                <div class="d-flex flex-column gap-4">
                    <h1 class="text-body text-center">Ошибка сервера</h1>
                    <a class="btn btn-outline-secondary" href="{% url 'accounts__index' %}">На главную страницу</a>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <img class="w-100 my-3" src="{% static 'account/assets/svg/500.svg' %}" alt="500 internal server error">
            </div>
        </div>
    </main>
{% endblock %}