{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'account/assets/styles/bootstrap.min.css' %}">
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-light">
{% include './components/header.html' %}
{% block body %}{% endblock %}
<script src="{% static 'account/assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>