{% load widget_tweaks %}
{% load static %}

<header class="shadow-sm">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'companies__list' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if companies %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Магазины
                            </a>
                            <ul class="dropdown-menu">
                                {% for company in companies %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'companies__update' company.id %}">
                                            {{ company.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'companies__create' %}" role="button">
                                        <img src="{% static 'account/assets/svg/icon_plus.svg' %}">
                                        Добавить магазин
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts__faq' %}">
                            Помощь
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'stores__list' %}" class="nav-link">
                            Склады
                        </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary rounded-pill" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Профиль
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts__change-password' %}" role="button">Сменить
                                    пароль
                                </a>
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logout-modal">
                                    Выйти
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="modal fade" id="logout-modal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form method="post" action="{% url 'accounts__logout' %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Вы действительно хотите выйти?
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Закрыть
                                        </button>
                                        <button type="submit" class="btn btn-danger">Выйти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>