{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ company.name }}
{% endblock %}

{% block head %}
    <link href="{% static 'account/assets/styles/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row gx-4 gy-4 mt-4">
            <div class="col-sm-12 col-md-4">
                <form method="post" action="{% url 'companies__update' company.id %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Изменить данные партнера</legend>
                        <div class="mb-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label">Название</label>
                            {{ form.name | attr:"class:form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.merchant_id.id_for_label }}" class="form-label">ID партнера</label>
                            {{ form.merchant_id | attr:"class:form-control" }}
                        </div>
                        {% for key, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                data-bs-target="#delete-company-modal">Удалить
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-12 col-md-7 offset-md-1">
                <p class="lead">Ваша ссылка для XML файла</p>
                <div class="d-flex">
                    <input id="js-xml-file-link" class="form-control border d-none d-sm-block me-1"
                           value="http://{{ request.get_host }}{% url 'offers__xml' company.id %}" readonly>
                    <a class="btn btn-outline-dark me-1"
                       href="http://{{ request.get_host }}{% url 'offers__xml' company.id %}">Открыть</a>
                    <a class="btn btn-outline-primary" download="{{ company.name }} выгрузка"
                       href="http://{{ request.get_host }}{% url 'offers__xml' company.id %}">Скачать</a>
                </div>
                <a class="btn btn-outline-primary my-3 w-100" href="">Открыть список товаров</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-company-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="{% url 'companies__delete' company.id %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Хотите удалить партнера?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Закрыть
                        </button>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}