{% extends '../base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    Магазины
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row px-2 my-4">
            {% for company in companies %}
                <a class="card-body text-decoration-none card my-3 shadow"
                   href="{% url 'companies__update' company.id %}"
                   role="button">
                    <h5 class="card-title">Магазин: {{ company.name }}</h5>
                </a>
            {% endfor %}
            <form action="{% url 'companies__create' %}" method="post" class="my-3">
                {% csrf_token %}
                <legend class="lead text-center mb-4">
                    {% if companies %}
                        Добавить партнера
                    {% else %}
                        Пока не добавлен ни один партнер
                    {% endif %}
                </legend>
                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}" class="form-label">Название
                        магазина</label>
                    {{ form.name | add_class:"form-control form-control-gray" }}
                    <p class="form-text">Указывать строго как маркетплейсе</p>
                </div>
                <div class="mb-3">
                    <label for="{{ form.merchant_id.id_for_label }}" class="form-label">ID
                        магазина</label>
                    {{ form.merchant_id | add_class:"form-control form-control-gray" }}
                    <p class="form-text">Указывать строго как маркетплейсе</p>
                </div>
                {% for key, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <button class="btn btn-secondary" type="submit">Добавить</button>
            </form>
        </div>
    </main>
{% endblock %}