{% extends '../base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ company.name }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if offers %}
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col">SKU</th>
                    <th scope="col">Название</th>
                    <th scope="col">Бренд</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td>{{ offer.sku }}</td>
                        <td>{{ offer.name }}</td>
                        <td>
                            {% if offer.brand %}
                                {{ offer.brand }}
                            {% endif %}
                        </td>
                        <td>{{ offer.price }}₸</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <p>Ваша ссылка для XML файла</p>
                <input id="js-xml-file-link" class="form-control border rounded-0"
                       value="http://{{ request.get_host }}{% url 'offers__xml' company.uuid %}" readonly>
            </div>
        {% else %}
            {% include '../components/forms/create_offer.html' with form_legend="Нет товаров" %}
        {% endif %}
    </div>
{% endblock %}