{% extends '../base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    Товар {{ offer.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" action="{% url 'offers__delete' company_id offer.id %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Товар: {{ offer.name }}</legend>
                        <div class="mb-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label">Название</label>
                            {{ form.name | attr:"class:form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.sku.id_for_label }}" class="form-label">SKU</label>
                            {{ form.sku | attr:"class:form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.brand.id_for_label }}" class="form-label">Бренд</label>
                            {{ form.brand | attr:"class:form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.price.id_for_label }}" class="form-label">Цена</label>
                            {{ form.price | attr:"class:form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.available_stores.id_for_label }}" class="form-label">Склады</label>
                            {{ form.available_stores | attr:"class:form-select" | attr:"multiple" }}
                        </div>
                        {% for key, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <a href="{% url 'offers__list' company_id %}"
                           class="btn btn-outline-secondary">Назад</a>
                        <a href="{% url 'offers__delete' company_id offer.id %}"
                           class="btn btn-outline-danger">Удалить</a>
                        <button type="submit" class="btn btn-outline-success my-2">Сохранить</button>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}