{% extends '../base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block title %}
    {{ company.name }} - создать товар
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <form action="{% url 'offers__create' company.id %}" method="post" class="my-3">
                    {% csrf_token %}
                    <legend class="mb-4">Добавить товар</legend>
                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}" class="form-label">Название товара</label>
                        {{ form.name | add_class:"form-control" }}
                        <p class="form-text">Указывать строго как маркетплейсе</p>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.sku.id_for_label }}" class="form-label">SKU товара</label>
                        {{ form.sku | add_class:"form-control" }}
                        <p class="form-text">Указывать строго как маркетплейсе</p>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.brand.id_for_label }}" class="form-label">Бренд</label>
                        {{ form.brand | add_class:"form-control" }}
                        <p class="form-text">Необязательно</p>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.price.id_for_label }}" class="form-label">Цена</label>
                        {{ form.price | add_class:"form-control" }}
                        <p class="form-text">Указывать строго как в маркетплейсе</p>
                    </div>
                    {% for key, errors in form.errors.items %}
                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <button class="btn btn-secondary" type="submit">Добавить</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
                <form method="post" action="{% url 'offers__excel-upload' company.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ offers_batch_upload_form.file.id_for_label }}" class="form-label">
                            Загрузка через excel файл
                        </label>
                        {{ offers_batch_upload_form.file | add_class:"form-control" | attr:"accept:.xls,.xlsx" }}
                    </div>
                    {% if is_xlsx_processing %}
                        <div class="alert alert-success alert-dismissible">
                            <span>Файл отправлен в обработку</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="btn btn-secondary" type="submit">Загрузить</button>
                    <a class="btn btn-secondary" type="file" href="{% url 'offers__excel-download' company.id %}">Скачать
                        шаблон с товарами</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}