{% extends '../base.html' %}

{% load static %}

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">SKU</th>
            <th scope="col">Название</th>
            <th scope="col">Бренд</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>
                    <a href="{% url 'offers__update' company.id offer.id %}">
                        <img src="{% static 'account/assets/svg/icon_pen.svg' %}">
                    </a>
                </td>
                <td>{{ offer.sku }}</td>
                <td>{{ offer.name }}</td>
                <td>
                    {% if offer.brand %}
                        {{ offer.brand }}
                    {% endif %}
                </td>
                <td>{{ offer.price }}₸</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
