{% extends '../base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
    Товары
{% endblock %}

{% block head %}
    <link href="{% static 'account/assets/styles/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-responsive my-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Бренд</th>
                    <th scope="col">Цена</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for offer in offers %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ offer.name }}</td>
                        <td>{{ offer.sku }}</td>
                        <td>
                            {% if offer.brand %}
                                {{ offer.brand }}
                            {% endif %}
                        </td>
                        <td>{{ offer.price }}₸</td>
                        <td class="text-end">
                            <a class="btn btn-warning"
                               href="{% url 'offers__update' company_id offer.id %}">Изменить</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">
                        <a class="btn btn-success" href="{% url 'offers__create' company_id %}">Добавить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}