{% extends '../base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
    Склады
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/assets/styles/forms.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if stores  %}
        <div class="row my-3">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Название склада</th>
                    <th>ID склада</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for store in stores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ store.name }}</td>
                        <td>{{ store.marketplace_store_id }}</td>
                        <td>
                            <a href="{% url 'stores__update' store.id %}" class="btn btn-warning">Изменить</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-xl-4">
                <form action="{% url 'stores__create' %}" method="post" class="my-3">
                    {% csrf_token %}
                    <legend class="lead text-center mb-4">
                        {% if stores %}
                            Добавить склад
                        {% else %}
                            Нету складов
                        {% endif %}
                    </legend>
                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}" class="form-label">Название склада</label>
                        {{ form.name | add_class:"form-control" }}
                        <p class="form-text">Указывать строго как маркетплейсе</p>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.marketplace_store_id.id_for_label }}" class="form-label">ID склада</label>
                        {{ form.marketplace_store_id | add_class:"form-control" }}
                        <p class="form-text">Указывать строго как маркетплейсе</p>
                    </div>
                    {% for key, errors in form.errors.items %}
                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <button class="btn btn-secondary" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}